body{
	background: #1a1a1a;
}
.top-box{
	width: 100%;
	height: 36px;
	background: #0d0d0d;
}
.tmid-box{
	width: 1015px;
	height: 100%;
	margin:0 auto;
}
.tleft{
	width: 100px;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 36px;
	font-size: 12px;
	color: #6b6b6b;
}
.tleft span{
	color: #ff6e27;
	margin-right: 5px;
}
.tright{
	width:321px;
	height: 100%;
	float: right;
	font-size: 12px;
	color: #6b6b6b;
	text-align: center;
	line-height: 36px; 
}
.tright span{
	margin-right: 30px;
}
.tright span img{
	vertical-align: middle;
	margin-right: 5px;
}
.logo{
	width: 100%;
	height: 103px;
	background: url(../image/nav.png)repeat-X;
}
.logo-mid{
	width: 1015px;
	height: 100%;
	margin:0 auto;
}
.lleft{
    width: 197px;
    height: 57px;
    float: left;
    margin-top: 26px;
    background: url(../image/logo.png)no-repeat;
}
.lright{
	width: 610px;
	height: 100px;
	float: right;
}
.home{
	width: 86px;
	height: 100%;
	border-right: 1px solid #333333;
	float: left;
}
.zero{
	background: url(../image/11.png)no-repeat;
}
.zero:hover{
	margin-top: 3px;
	background: url(../image/2.jpg)no-repeat;
}
.one{
	background: url(../image/22.png)no-repeat;
}
.one:hover{
	margin-top: 3px;
	background: url(../image/1.jpg)no-repeat;
}
.two{
	background: url(../image/33.png)no-repeat;
}
.two:hover{
	margin-top: 3px;
	background: url(../image/3.jpg)no-repeat;
}
.three{
	background: url(../image/44.png)no-repeat;
}
.three:hover{
	margin-top: 3px;
	background: url(../image/4.jpg)no-repeat;
}
.four{
	background: url(../image/55.png)no-repeat;
}
.four:hover{
	margin-top: 3px;
	background: url(../image/5.jpg)no-repeat;
}
.five{
	background: url(../image/66.png)no-repeat;
}
.five:hover{
	margin-top: 3px;
	background: url(../image/6.jpg)no-repeat;
}
.six{
	background: url(../image/77.png)no-repeat;
}
.six:hover{
	margin-top: 3px;
	background: url(../image/7.jpg)no-repeat;
}
.banner-box{
	width: 100%;
	height: 304px;
	background: url(../image/bbg.png)no-repeat;
	position: relative;
}
.banner{
	width: 1015px;
	height: 304px;
	margin: 0 auto;
	position: relative;
}
/****************************************/
.mid-box{
	width: 1015px;
	height: 807px;
	margin: 0 auto;
	margin-top: 12px;
}
.leftbox{
	width: 226px;
	height: 527px;
	background: url(../image/sub.png);
	margin-right: 24px;
	float: left;
	position: relative;
}
.jieshao{
    width: 100%;
    height:97px;
    position: absolute;
    left: 0;
    top:86px;
}
.ppjs{
	width: 100%;
	height: 43px;
	font-size:12px; 
	color:#8e8b8a;
	text-align: center;
	line-height: 43px;
	background: url(../image/ub.png)no-repeat 0 34px;
}
.ppjs:hover{
	width: 232px;
	background: url(../image/sub_hover.png)no-repeat;
	font-size: 18px;
	color: black;
}

.rightbox{
	width: 765px;
	height: 807px;
	float: left;
	background: url(../image/right_bg.png)repeat-Y;
}
.title{
	width: 100%;
	height: 39px;
	margin-top: 12px;
	background: url(../image/title.png)no-repeat;
}
.title a{
	font-size: 12px;
	color: white;
	margin-left: 19px;
	line-height: 39px;
	text-decoration: none;
	float: left;
}
.title a span{
	font-size: 10px;
	color: #7d7d7d;
	line-height: 39px;
	margin-left: 5px;
	margin-right: 510px;
}
.spp{
	font-size: 12px;
	color: white;
	margin-right: 23px;
	float: left;
}
.guan{
	width: 730px;
	text-align: center;
	font-size:12px;
	display:block;
	margin-bottom:15px;
	color:#706f6f;
}
.data{
	width: 730px;
	text-align: center;
	font-size:12px;
	color:#706f6f;
}
.title .spp span{
	margin-right: 7px;
	margin-left: 7px;
	color: white;
	font-size: 12px;
}
/*News*/

.danye_show{ 
	padding:28px;
	line-height:24px;
}
.sp{
	width: 709px;
	height: 1px;
	background: #b8b8b8;
}
.bk{
	width: 686px;
	height: 24px;
	background: white;
	margin: 0 auto;
	margin-top:10px;
	margin-bottom:30px;
}
.bkk{
	width: 689px;
	height: 360px;
	background: white;
	margin: 0 auto;
	font-size: 12px;
	margin-bottom:27px;
}
/*版权*/
.bt-box{
	width: 100%;
	height: 85px;
	background: #0a0a0a;
}
.btmid{
	width: 1015px;
	height: 100%;
	margin: 0 auto;
}
.erwei{
	width: 122px;
	height: 60px;
    float: left;
    margin-top: 13px;
}
.erwei img{
	float: left;
	margin-right: 2px;
}
.wenzi{
	width: 552px;
	height: 100%;
	margin-left: 51px;
    float: left;
}
.wz{
	width: 552px;
	height: 48px;
	margin: 18px auto; 
}
.wz a{
	width: 100%;
	height: 24px;
	font-size: 12px;
	color: #666666;
	line-height: 24px;
}
.tu{
	width:60px;
	height:60px;
    margin-left:54px; 
    margin-top: 17px;
    float: left;
}