{template "content","header"}
	<link rel="stylesheet" href="{CSS_PATH}drlcss/jibenxinxi.css">
	<script src="{JS_PATH}drljs/jibenxinxi.js"></script>

<!-- num2 -->
	<div class="web_conTop">
		
		<div class="contop_Info fixed">
			
			<span class="webcon_tit">{$CATEGORYS[$top_parentid][catname]}</span>
			<span class="webcon_nav">
			<span>当前位置：</span>
			<a href="{siteurl($siteid)}">首页</a>&nbsp;&gt;&nbsp;
			{catpos($catid)}
		</div>
	</div>
<!-- num3 -->
	<div class="web_conBom">
		<div class="conbom_info fixed">
			<div class="webbom_menu">
	            <ul>
		           
					{pc:content action="lists" catid="$catid" num="1" order="listorder ASC"}
					{loop $data $v}
							 <li><a class="webbom_menuOn" href="{$v[url]}">·{$v[title]}</a></li>
		            {/loop}
		            {/pc}
	            </ul>
        	</div>
        	{pc:content action="lists" catid="$catid" moreinfo="1"}
        	<div class="webbom_text">
        		{php $j}
        		{loop $data $c}
        		{php $j++}
        		{if $j==1}
					<div class="bomtext_top">
		                <p>{$c[title]}</p>
		                <span id="content">
		                	{$c[content]}
		                	<p>	</p>
		                	
							</span>
		            </div>
        		{/if}
        		{/loop}
        		
        	</div>
        	{/pc}
		</div>
		
	</div>



{template "content","footer"}
