{template "content","header"}
	<link rel="stylesheet" href="{CSS_PATH}mycss/xinwen.css">
	<script src="{JS_PATH}myjs/jibenxinxi.js"></script>

<!-- num2 -->
	<div class="web_conTop">
		
		<div class="contop_Info fixed">
			
			<span class="webcon_tit">{$CATEGORYS[$catid][catname]}</span>
			<span class="webcon_nav">
			<span>当前位置：</span>
			<a href="{siteurl($siteid)}">首页</a>&nbsp;&gt;&nbsp;
			{catpos($catid)}&nbsp;{$CATEGORYS[37][catname]}
		</div>
	</div>
<!-- num3 -->
	<div class="web_conBom">
		<div class="conbom_info fixed">
			<div class="webbom_menu">
	            <ul>
		           <!--  <li><a class="webbom_menuOn" href=" ">·公司简介</a></li> -->
					{pc:content action="category" catid="$catid" num="25" order="listorder ASC"}
					{php $i=0}
					{loop $data $v}
					{php $i++}
						{if $i==1}
							 <li><a class="webbom_menuOn" href="{$v[url]}">·{$v[catname]}</a></li>
							{else}
							 <li><a href="{$v[url]}">·{$v[catname]}</a></li>
						{/if}
		           
		            {/loop}
		            {/pc}
	            </ul>
        	</div>
        	{pc:content action="lists" num="5" catid="37" moreinfo="0"}
        	<div class="webbom_text">
        		{php $j}
        		{loop $data $c}
        		{php $j++}
        		{if $j==1}
					<div class="bomtext_top">
		                <p>{$CATEGORYS[37][catname]}</p>
		            </div>
				 <div class="jtywList">

	            	<ul class="fixed">
						
						{loop $data $v}
                       <li><a {if $v[catid]==$catid} class="webbom_menuOn" {/if} href="{$v[url]}"><span>{date("Y-m-d",$v[inputtime])}</span>·{$v[title]} </a></li>
                    {/loop}

                	</ul>
	            </div>
        		{/if}
        		{/loop}


        	</div>
        	<div class="paged" id="setpage">
                 {$pages}
                </div>
        	{/pc}
		</div>
		
	</div>



{template "content","footer"}
