/*字体引入*/
@font-face {
    font-family:iconfont;src:url(../font/iconfont.eot);src:url(../font/iconfont.eot?#iefix) format('embedded-opentype'),url(../font/iconfont.woff) format('woff'),url(../font/iconfont.ttf) format('truetype'),url(../font/iconfont.svg#iconfont) format('svg');
}

.ywm-gm-icon {
    font-style: normal;
    font-family: iconfont!important;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}
/*头部导航*/
.ywm-top-nav {
    height: 30px;
    border-bottom: 1px solid #f3f3f3;
    background: #f8f8f8;
    color: #5e5e5e;
}

.ywm-nav-body {
    margin: 0 auto;
    width: 75pc;
}

.ywm-nav-body a {
    color: #888;
}

.ywm-nav-body a:hover {
    color: #c00;
    text-decoration: none;
}

.ywm-top-nav-left,.ywm-top-nav-left li {
    position: relative;
    float: left;
    font: 400 9pt/30px Arial;
}

.ywm-nav-login a {
    margin-right: 10px;
    line-height: 2pc;
}

.ywm-nav-user {
    margin-right: 9pt;
}

.ywm-nav-body em,.ywm-nav-body i {
    display: inline-block;
    background: url(../images/ui.png);
    vertical-align: middle;
}

.ywm-nav-username-hover{
    position: relative;
    z-index: 9;
    display: block;
    overflow: hidden;
    padding: 0 20px 0 10px;
    height: 30px;
    border: 1px solid #f8f8f8;
    border-bottom: 0;
    color: #888;
    font-weight: 400;
}
.ywm-nav-username-hover {
    z-index: 10001;
    border: 1px solid #e6e6e6;
    border-bottom: 3px #fff;
    background: #fff;
    color: #c00;
    cursor: default;
}

.ywm-nav-username-hover a {
    color: #c00;
}

.ywm-nav-username i ,.ywm-nav-username-hover i{
    position: absolute;
    top: 9pt;
    right: 8px;
    overflow: hidden;
    width: 7px;
    height: 4px;
}

.ywm-nav-username i{
    background-position: -62px -433px;
}

.ywm-nav-username-hover i {
    background-position: -55px -433px;
}

.ywm-nav-username {
    position: relative;
    z-index: 9;
    display: block;
    overflow: hidden;
    padding: 0 20px 0 10px;
    height: 30px;
    border: 1px solid #f8f8f8;
    border-bottom: 0;
    color: #888;
    font-weight: 400;
}

.ywm-level-g1 {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 1px;
    width: 14px;
    height: 14px;
    background-position: 0 -658px!important;
    vertical-align: middle;
}

.ywm-user-dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 10000;
    overflow: hidden;
    padding: 10px 15px;
    width: 290px;
    height: auto;
    border: 1px solid #e6e6e6;
    background: #fff;
}

.ywm-user-name {
    overflow: hidden;
    padding: 5px 0 20px;
}

.ywm-user-name i,.ywm-user-name i img {
    float: left;
    width: 55px;
    height: 55px;
    border-radius: 50px;
}

.ywm-user-name ins {
    margin: 0;
    color: #c00;
    text-decoration: none;
}

.ywm-user-name div {
    float: left;
    padding: 0 0 0 15px;
    width: 220px;
    font: 400 9pt/20px Arial;
}

.ywm-user-name strong {
    vertical-align: middle;
    font-weight: 700;
    font-size: 14px;
}

.ywm-user-name em {
    margin: 0 0 0 5px;
    width: 27px;
    height: 15px;
    background-position: 0 -7in;
    color: #e60000;
    text-align: center;
    font: 700 9pt/1pc arial;
}

.ywm-username-level {
    position: relative;
    overflow: hidden;
    margin: 4px 0;
    height: 15px;
    background: #ffb799;
}

.ywm-gradeup-amount {
    float: left;
    width: 182px;
}

.ywm-gradeup-day {
    float: right;
    overflow: hidden;
    width: 36px;
}

.ywm-gradeup-info {
    overflow: hidden;
    width: 100%;
    color: #888;
    line-height: 1pc;
}

.ywm-username-level span {
    float: left;
    display: block;
    height: 15px;
    background: #eb5509;
}

.ywm-username-level sup {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 3px;
    color: #fff;
    vertical-align: text-top;
    font: 9pt/1pc Arial;
    *font-size: 14px;
}

.ywm-user-icon {
    position: relative;
    padding-top: 15px;
    border-top: 1px solid #f3f3f3;
}

.ywm-user-icon p span {
    color: #c00;
}

.ywm-user-icon p a {
    float: right;
    color: #ccc;
}

.ywm-user-icon .ywm-user-icon-next,.ywm-user-icon .ywm-user-icon-prev {
    position: absolute;
    top: 65px;
    display: inline-block;
    width: 1pc;
    height: 29px;
    background: url(../images/ui.png) -60px -357px;
    cursor: pointer;
}

.ywm-user-icon .ywm-user-icon-prev {
    left: 0;
}

.ywm-user-icon .ywm-user-icon-next {
    right: 0;
    background-position: -76px -357px;
}

.ywm-user-icon div {
    z-index: 2;
    visibility: visible;
    margin: 10px 25px 0;
    width: 15pc;
}

.ywm-user-icon div,.ywm-user-icon ul {
    position: relative;
    left: 0;
    overflow: hidden;
}

.ywm-user-icon ul {
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 45pc;
    height: 70px;
    list-style-type: none;
}

.ywm-user-icon i {
    display: block;
    height: 40px;
    background: 0 0;
    font-size: 40px;
    line-height: 40px;
    opacity: .7;
}

.ywm-user-icon li {
    float: left;
    overflow: hidden;
    width: 5pc;
    height: 70px;
    text-align: center;
}

.ywm-user-icon li a:hover {
    color: #999;
}

.ywm-user-icon li a:hover i {
    color: #999;
    opacity: 1;
}

.ywm-user-topicon i {
    color: #ff2b39!important;
    opacity: .7;
}

.ywm-user-topicon:hover i {
    color: #ff2b39!important;
    opacity: 1;
}

img {
    border: none;
    vertical-align: middle;
}

.ywm-top-nav-right {
    float: right;
}

.ywm-top-nav-right,.ywm-top-nav-right li {
    position: relative;
    font: 400 9pt/30px Arial;
}

.ywm-top-nav-right li {
    float: left;
    line-height: 2pc;
}

.ywm-top-nav-right li.ywm-spacer {
    overflow: hidden;
    margin: 10px 0 0;
    padding: 0;
    width: 1px;
    height: 11px;
    background: #e6e6e6;
}

.ywm-nav-link {
    overflow: hidden;
    margin: 0;
    height: 30px;
    line-height: 33px;
}

.ywm-nav-link a {
    margin-right: 10px;
    line-height: 2pc;
}

.ywm-nav-qycg {
    margin: 10px;
}

.ywm-nav-top:hover i {
    background-position: -55px -433px;
}

.ywm-nav-top {
    position: relative;
    z-index: 9;
    display: block;
    overflow: hidden;
    padding: 0 20px 0 10px;
    height: 30px;
    border: 1px solid #f8f8f8;
    border-bottom: 0;
    color: #888;
    font-weight: 400;
}

.ywm-nav-top em {
    top: 0;
    height: 30px;
    background: 0 0;
    color: #e3101e;
    font-size: 19px;
    line-height: 30px;
}

.ywm-nav-top i {
    position: absolute;
    top: 9pt;
    right: 8px;
    overflow: hidden;
    width: 7px;
    height: 4px;
    background-position: -62px -433px;
}

.ywm-nav-top:hover {
    z-index: 10;
    border: 1px solid #e6e6e6;
    border-bottom: 2px #fff;
    background: #fff;
    color: #c00;
    cursor: default;
}
/*头部广告*/
.ywm-topad {
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: 0;
}

.ywm-wbox {
    width: 1200px;
    margin: 0 auto;
}

.ywm-topad-close {
    position: absolute;
    top: 3px;
    right: 3px;
    display: block;
    padding: 6px;
    cursor: pointer;
}

.ywm-topad-close:hover {
    background: #111;
    opacity: .4;
}

.ywm-topad-close i {
    display: block;
    overflow: hidden;
    width: 9pt;
    height: 9pt;
    background: url(../images/ui.png) -60px -466px;
    text-indent: -99px;
}

.ywm-gome-head {
    position: relative;
    z-index: 980;
    height: 75pt;
    vertical-align: middle;
}

.ywm-logo {
    float: left;
    margin: 28px 20px 0 0;
}

.ywm-logo a {
    display: block;
    overflow: hidden;
    width: 168px;
    height: 50px;
    background: url(../images/ui.png) 0 -969px;
    text-indent: -99px;
}

.ywm-logo-gif {
    float: left;
    margin: 28px 0 0;
}
/*搜索栏*/
.ywm-topsearch {
    position: absolute;
    top: 26px;
    left: 385px;
    z-index: 91;
    width: 500px;
}

.ywm-searchbox {
    position: relative;
    height: 30px;
    border: 2px solid #e3101e;
    background: #fff;
    font-size: 14px;
}

.ywm-searchbox label {
    position: absolute;
    top: 0;
    left: 10px;
    overflow: hidden;
    width: 83%;
    height: 30px;
    color: #666;
    color: #a5a5a5;
    font-family: microsoft yahei;
    line-height: 30px;
    cursor: text;
}

.ywm-searchbox input {
    float: left;
    padding: 5px 5px 5px 10px;
    width: 365px;
    border: none;
    background-color: transparent;
    color: #5e5e5e;
    font-size: 14px;
    font-family: arial;
    line-height: 20px;
}

.ywm-voice-search {
    float: right;
    margin-right: 3px;
    padding: 5px 0;
    width: 15px;
    height: 20px;
    background: url(../images/search/voice.png) no-repeat center;
    background-size: 13px 19px;
    opacity: .55;
    cursor: pointer;
}

.ywm-searchbox button {
    float: right;
    display: inline;
    width: 72px;
    height: 30px;
    border: none;
    background: #d7000f;
    color: #fff;
    text-indent: 0;
    letter-spacing: 2px;
    font: 1pc/30px 'microsoft yahei';
    cursor: pointer;
}

.ywm-hotkeyword {
    overflow: hidden;
    margin: 6px 0 0;
    height: 14px;
    color: #a5a5a5;
    line-height: 14px;
}

.ywm-hotkeyword a.ywm-highlight,.ywm-hotkeyword a:hover {
    color: #d7000f;
    text-decoration: none;
}

.ywm-hotkeyword a {
    display: inline-block;
    margin-right: 5px;
    color: #a5a5a5;
    font-family: microsoft yahei;
    line-height: 14px;
}

.ywm-mygome-side {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 92;
    width: 15pc;
}

.ywm-topmenu {
    float: right;
    display: inline;
}

.ywm-topmenu li {
    float: left;
    display: inline;
    vertical-align: middle;
}

.ywm-cartlinkbox {
    display: inline-block;
}

.ywm-cartlink {
    margin: 10px;
    padding: 0 20px 0 45px;
    width: 75px;
    height: 34px;
    line-height: 34px;
}

.ywm-i-cart {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 27px;
    height: 20px;
    background: url(../images/ui.png) -75pt -701px;
}

.ywm-shopnum {
    position: absolute;
    top: -18px;
    left: 15px;
    padding: 0 3px;
    height: 18px;
    min-width: 14px;
    background-color: #a5a5a5;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 18px;
}

.ywm-shopnum i {
    position: absolute;
    bottom: -4px;
    left: 5px;
    overflow: hidden;
    width: 0;
    height: 0;
    border: 4px dashed transparent;
    border-color: transparent transparent transparent #a5a5a5;
    border-right: 0;
    border-left-style: solid;
}

.ywm-topmenu a {
    color: #5e5e5e;
}

.ywm-hover {
    box-shadow: 0 -8px 18px 0 rgba(0,0,0,.09);
}

.ywm-hover .ywm-menu-mark {
    top: 15px;
    top: 10px;
    right: 10px;
    overflow: hidden;
    border: 4px dashed transparent;
    border-color: #5e5e5e transparent transparent;
    border-bottom: 0;
    border-top-style: solid;
}

.ywm-menulink {
    position: relative;
    z-index: 97;
    float: left;
    display: inline;
    margin: 3px 0 0;
    padding: 0 22px 0 10px;
    height: 24px;
    line-height: 24px;
}

.ywm-shopcartbox .ywm-cartlink {
    padding: 0 20px 0 45px;
    width: 75px;
    height: 34px;
    line-height: 34px;
}

.ywm-menu-mark {
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
    width: 0;
    height: 0;
    border: 4px dashed transparent;
    border-color: #5e5e5e transparent transparent;
    border-bottom: 0;
    border-top-style: solid;
}

.ywm-shopcartbox .ywm-menuhide {
    top: 34px;
    right: 0;
    z-index: -1;
    padding: 0;
    width: 280px;
}

.ywm-menuhide {
    position: absolute;
    top: 27px;
    right: 0;
    display: none;
    border: 1px solid\9;
    background: #fff;
    box-shadow: 0 0 18px rgba(0,0,0,.09);
}

.ywm-noshop {
    color: #a5a5a5;
    text-align: center;
    line-height: 75pt;
}
/*栏目位*/
.ywm-category-box,.ywm-category{
    height: 40px;
    border-bottom: none;
}
.ywm-sidecategory {
    float: left;
    position: relative;
}
.ywm-sidecategory h2 {
    width: 200px;
    background: #d7000f;
    float: left;
    opacity: .9;
    height: 40px;
    border-bottom: none;
    position: relative;
    z-index: 10;
}
.ywm-sidecategory h2 a {
    color: #fff;
    font-family: 'Microsoft YaHei';
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    padding-left: 15px;
    float: left;
}
.ywm-navbox{
    z-index: 200;
    width: 200px;
    height: 450px;
    position: absolute;
    top: 40px;
    left: 0;
}
 .ywm-navboxbg {
    opacity: .9;
    width: 200px;
    height: 450px;
    color: #333;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: block;
}
.ywm-navbox-ul{
    position: relative;
    z-index: 9999;
}
.ywm-navbox-ul h3 {
    position: relative;
    padding-left: 15px;
    height: 30px;
    line-height: 30px;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 1px;
}
.ywm-navbox-ul h3 a {
    color: #fff;
    font-size: 14px;
    font-family: 'Microsoft YaHei',arial;
    font-weight: 200;
    display: inline-block;
    margin-right: 3px;
}
.ul-first,.ul-last{
    margin-top: 1px;
    height: 29px;
    line-height: 29px;
    overflow: hidden;
}
.ywm-subnav{
    background-color: #fff;
    min-height: 448px;
    max-height: 515px;
    border-left: none;
    position: absolute;
    top: 0;
    left: 199px;
    z-index: 99;
    width: 1000px;
    display: none;
}
.ywm-sync {
    z-index: 1000;
    border: 1px solid #818181;
    min-height: 448px;
    max-height: 525px;
    width: 998px;
    position: absolute;
    left: 0;
    background: #fff;
}
.ywm-fullcategory{
    background-color: #fff;
    min-height: 448px;
    max-height: 525px;
}
.ywm-fullcategory-left{
    overflow: hidden;
    background: #fbfbfb;
    min-height: 448px;
    max-height: 525px;
    opacity: 1;
    float: left;
    width: 788px;
}
.ywm-fullcategory-title {
    height: 20px;
    padding: 20px 0 7px 20px;
    overflow: hidden;
}
.ywm-fullcategory-title i {
    display: inline-block;
    width: 5px;
    height: 7px;
    background: url(../images/ui.png) -70px -433px;
    margin-left: 6px;
    overflow: hidden;
}
.ywm-fullcategory-title  a {
    float: left;
    white-space: nowrap;
    height: 20px;
    background: #f67070;
    margin-right: 10px;
    padding: 0 5px;
    text-align: left;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    font-weight: 700;
    font-family: simsun;
}
.ywm-fullcategory-title  a:hover {
    background: #e3101e;
    text-decoration: none;
}
.ywm-fullcategory-content-box{
    max-height: 468px;
    width:769px;
    margin: 6px 0 10px 20px;
    overflow: hidden;
    float: left;
}
.ywm-fullcategory-content{
    width:769px;
    overflow: hidden;
}
.ywm-fullcategory-list{
    width:769px;
    margin: 11px 30px 0 -8px;
}
.ywm-fullcategory-list .underline {
    width: 100%;
    border-bottom: solid 1px #f3f3f3;
    margin-bottom: 7px;
    height: 2px;
    overflow: hidden;
}
.ywm-list-title{
    font-family: '新宋体 Arial';
    width: 61px;
    text-align: left;
    padding-left: 8px;
    margin-top: 3px;
    font-weight: 700;
    font-size: 12px;
    color: #5e5e5e;
    height: 22px;
    line-height: 22px;
    float: left;
}

.ywm-list{
    margin-top: -14px;
    padding-top: 5px;
    width: 700px;
    float: left;
}
.ywm-list a{
    color: #5e5e5e;
    font-size: 12px;
    font-family: '新宋体 Arial';
    float: left;
    padding: 0 7px;
    height: 14px;
    line-height: 14px;
    margin: 7px 0;
    border-left: 1px solid #e0e0e0;
    white-space: nowrap;
    display: inline-block;
}
.ywm-fullcategory-right{
    width: 210px;
    min-height: 448px;
    max-height: 515px;
    background: #fff;
    float: left;
    position: relative;
}
.ywm-brand{
    width: 200px;
    padding: 0 0 11px 10px;
    overflow: hidden;
    border-bottom: 1px solid #f4f4f4;
}
.ywm-brand-box {
    width: 200px;
    margin: 0 0 0 -2px;
}
.ywm-brand-box a{
    display: inline-block;
    float: left;
}
.ywm-brand-box a img{
    display: block;
    margin: 20px 20px 0 10px;
    width: 70px;
    height: 35px;
}
.ywm-category-img {
    position: absolute;
    right: 0;
    bottom: 0;
}
.ywm-category-img img {
    display: inline-block;
    width: 210px;
    height: 180px;
}
.ywm-mainnav {
    float: left;
    height: 38px;
    width: 800px;
    overflow: hidden;
    position: relative;
}
.ywm-mainnav li{
    position: relative;
    float: left;
    padding: 0 16px;
    text-align: center;
    line-height: 38px;
    white-space: nowrap;
}
.ywm-mainnav li a {
    color: #000;
    font-size: 15px;
    line-height: 40px;
    font-family: 'Microsoft YaHei';
}
.ywm-mainnav li a:hover {
    color: #d7000f;
}
.ywm-tag-newpic{
    position: absolute;
    width: 29px;
    height: 14px;
    overflow: hidden;
    top: 0;
    right: 0;
    background: url(../images/newpic.png);
}
.ywm-nav-rightad {
    float: right;
    position: relative;
    width: 194px;
    height: 40px;
    overflow: hidden;
}
.ywm-adnavside{
    position: absolute;
    top: 0;
    left: 5px;
    width: 170px;
    height: 38px;
    overflow: hidden;
}
.ywm-rollbtn{
    position: absolute;
    top: 7px;
    right: 0;
    width: 13px;
    height: 20px; 
}

/*焦点*/
.ywm-gm-main{
    position: relative;
    min-width: 1200px;
}
.ywm-focus{
    height: 450px;
    width: 100%;
    background: #eee;
    position: relative;
}
.ywm-focus-bg a img{
    width: 300px;
    height: 450px; 
}
    
.foucs-img-bgleft{
    left: 50%;
    position: absolute;
    top: 0;
    z-index: 99;
    margin-left: -900px;
}
.foucs-img-bgright{
    left: 50%;
    position: absolute;
    top: 0;
    z-index: 99;
    margin-left: 600px;
}
.ywm-banner-box li {
    position: absolute;
    height: 450px;
    width: 100%;
    display: none;
}
.ywm-banner-box li a {
    position: absolute;
    left: 50%;
    margin-left: -400px;
}
.ywm-banner-box li a img {
    display: block;
    width: 750px;
    height: 450px;
}
.ywm-editbtn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -400px;
    width: 750px;
    height: 15px;
    text-align: center;
    cursor: pointer;
    display: block;
}
.ywm-editbtn li{
    width: 30px;
    height: 13px;
    display: inline-block;
    zoom: 1;
    margin: 0 4px;
    cursor: pointer;
}
.ywm-editbtn li a {
    display: block;
    width: 30px;
    height: 5px;
    background: #000;
    opacity: .3;
    margin-top: 4px;
}
li.active a{
    background: #e3101e;
    opacity: 1;
}
.ywm-btn-pre{
    margin-left: 268px;
    z-index: 59;
    left: 50%;
    top: 185px;
    width: 40px;
    height: 80px;
    position: absolute;
}
.ywm-btn-next{
    margin-left: 309px;
    z-index: 59;
    left: 50%;
    top: 185px;
    width: 40px;
    height: 80px;
    position: absolute;
}
.ywm-btn-next span,.ywm-btn-pre span{
    display: block;
    background: #000;
    opacity: .2;
    top: 0;
    left: 0;
    z-index: 59;
    width: 40px;
    height: 80px;
    position: absolute;
}
.ywm-btn-pre p{
    background: url(../images/btnui.png) 0 -112px no-repeat;
    width: 40px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    cursor: pointer;
}
.ywm-btn-next p{
    background: url(../images/btnui.png) -42px -112px no-repeat;
    width: 40px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    cursor: pointer;
}
.ywm-server-warp{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 350px;
    width: 250px;
}
.ywm-server-bg{
    opacity: .9;
    background: #fff;
    position: absolute;
    width: 250px;
    height: 430px;
    left: 0;
    top: 10px;
}
.ywm-server{
    display: block;
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 430px;
    left: 0;
    top: 10px;
}
.ywm-server-kuaixun{
    height: 180px;
    width: 220px;
    overflow: hidden;
    margin: 0 15px;
    border-bottom: 1px dashed #ccc;
}
.ywm-gome-new{
    height: 36px;
    width: 220px;
    overflow: hidden;
}
.ywm-gome-new h2{
    font-size: 14px;
    float: left;
    color: #333;
    margin-top: 12px;
    font-weight: 400;
}
.ywm-gome-new a{
    font-size: 12px;
    text-align: center;
    margin-top: 13px;
    color: #888;
    float: right;
}
.ywm-gome-new span{
    width: 5px;
    height: 9px;
    font-size: 1px;
    background: url(../images/btnui.png) -126px -130px no-repeat;
    display: inline-block;
    margin-left: 4px;
}
.ywm-gome-newcontent span{
    display: block;
    width: 250px;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
}
.ywm-new-sort{
    color: #888;
    margin-right: 7px;
    float: left;
    display: block;
    width: 24px;
    overflow: hidden;
    height: 26px;
}
.ywm-new-text{
    display: inline-block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    width: 196px;
}
.ywm-new-text {
    color: #5e5e5e;
}
.ywm-new-text.red,.ywm-new-text:hover{
    color: #e3101e;
}
.ywm-sever-box{
width: 250px;
    height: 249px;
}
.ywm-icon-box{
width: 220px;
    height: 249px;
    overflow: hidden;
    position: relative;
    left: 15px;
}
.ywm-icon-server li{
float: left;
    width: 55px;
    height: 78px;
    padding-top: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.ywm-icon-server-a{
    display: block;
    height: 75px;
    width: 38px;
    position: absolute;
    left: 14px;
}
.ywm-icon-server-a .ywm-gm-icon{
    font-size: 32px;
    margin-left: -13px;
    color: #5e5e5e;
}

.ywm-icon-server-li-titile{
    color: #5e5e5e;
    margin-left: -5px;
    width: 36px;
    height: 20px;
    overflow: hidden;
    display: block;
    margin-top: -3px;
}
.ywm-icon-server-li-triangle{
border-left: 3px dashed transparent;
    border-right: 3px dashed transparent;
    border-top: 3px solid #c9c9c9;
    font-size: 0;
    height: 0;
    left: 50%;
    line-height: 0;
    margin-left: -11px;
    position: absolute;
    top: 70px;
    width: 0;
}
.ywm-mode-area{
    height: 220px;
    width: 100%;
}
.ywm-ad-main{
    margin-top: 20px;
    overflow: hidden;
}
.ywm-ad-main li{
    float: left;
}
.ywm-ad-main li a{
    display: block;
    width: 240px;
    height: 200px;
    overflow: hidden;
    background: #fff;
}
.ywm-ad-main li a img{
    display: block;
    width: 240px;
    height: 200px;
}
/*特辑栏目*/
.ywm-gm-feature{
height: 481px;
width: 100%;
    overflow: hidden;
}
.ywm-gm-fm a{
display: block;
    float: left;
}
.ywm-fm-left{
    width: 420px;
    float: left;
    margin-right: 10px;
    height: 481px;
}
.ywm-fm-title{
    height: 60px;
    width: 100%;
    overflow: hidden;
}
.ywm-fm-title h2{
    font-family: Arial,"Microsoft Yahei";
    font-size: 18px;
    color: #333;
    margin-top: 28px;
    font-weight: 400;
    float: left;
}
.ywm-fm-title span{
    display: block;
    float: left;
    font-size: 20px;
    color: #ccc;
    padding: 27px 0 0 9px;
    font-family: Arial;
}
.ywm-fm-inner{
    border: 1px solid #e6e6e6;
    width: 418px;
    height: 419px;
    background: #fff;
    overflow: hidden;
}
.ywm-special{
    display: block;
    width: 219px;
    height: 419px;
}
.ywm-line-dash{
    border-bottom: 1px dashed #eee;
}
.ywm-fm-pic{
    display: block;
    width: 199px;
    height: 209px;
}

.ywm-fm-center{
    width: 420px;
    float: left;
    margin-right: 10px;
    height: 481px;
}

.ywm-fm-right{
    width: 340px;
    float: right;
}
.ywm-fm-inner.fml{
    width: 338px;
 }   
.ywm-inner-left{
        width: 219px;
    float: left;
}
.ywm-fm-brands{
width: 119px;
    float: right;
}
.ywm-fm-end-inner{
border-left: 1px solid #eee;
    height: 419px;
}

.ywm-fm-end-inner a{
display: block;
    height: 59px;
    width: 118px;
    text-align: center;
    border-bottom: 1px #eee dashed;
    opacity: .9;
}
.ywm-fm-end-inner a img{
        display: inline-block;
    width: 100px;
    height: 30px;
    margin-top: 15px;
}
    
/*金融栏目*/
.ywm-gm-finance .ywm-fm-center{
    height: 230px;
    width: 1199px;
    border-right: 1px solid #e6e6e6;
}
.ywm-gm-finance .ywm-fm-left{
    width: 420px;
    height: 230px;
    float: left;
    position: relative;
    overflow: hidden;
    margin-right: 0px;
}
.ywm-finance-entrance{
    height: 28px;
    background: #fd585e;
    line-height: 28px;
    color: #fff;
    font-size: 14px;
    padding: 0 13px;
    display: inline-block;
    position: absolute;
    left: 60px;
    bottom: 48px;
    font-weight: 400;
    z-index: 1;
    border-radius: 2px;
}
.ywm-finance-entrance a{
    color: #fff;
    display: inline-block;
    height: 21px;
}
.ywm-finance-entrance span{
    display: inline-block;
    margin-left: 10px;
    width: 6px;
    height: 11px;
    background: url(../images/btnui.png) -126px -52px no-repeat;
}
.ywm-gm-finance .ywm-fm-right{
    width: 779px;
    float: left;
    height: 228px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.ywm-gm-finance .ywm-fm-right ul {
    width: 780px;
}
.ywm-fi-pic{
    width: 194px;
}
.ywm-gm-finance .ywm-fm-right a {
    display: block;
    float: left;
    width: 195px;
    height: 228px;
}
/*猜你喜欢*/
.ywm-gm-guess{
position: relative;
}
.ywm-change-btn{
    height: 60px;
        float: right;
    width: 54px;
    overflow: hidden;
}
.ywm-gm-pre{
width: 23px;
    height: 23px;
    display: block;
    margin-top: 30px;
    float: left;
    margin-left: 3px;
    cursor: pointer;
    background: url(../images/btnui.png) -126px -104px no-repeat;
}
.ywm-gm-nex{
    width: 23px;
    height: 23px;
    display: block;
    margin-top: 30px;
    float: left;
    margin-left: 3px;
    cursor: pointer;
    background: url(../images/btnui.png) -126px -182px no-repeat;
}
.ywm-guess-main{
overflow: hidden;
width: 1198px;
    height: 264px;
    border: 1px solid #eee;
    position: relative;
}
.ywm-guess-main ul{
width: 1200px;
    height: 264px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.ywm-guess-main ul li{
    width: 200px;
    height: 224px;
    margin-top: 20px;
    float: left;
}
.ywm-guess-main ul li a{
    display: block;
    width: 199px;
    height: 210px;
    border-right: 1px dashed #eee;
    padding-top: 15px;
}
.ywm-guess-main ul li img{
    display: block;
    margin-left: 40px;
    width: 120px;
    height: 120px;
}

.ywm-guess-title{
    width: 167px;
    height: 36px;
    overflow: hidden;
    margin: 32px 0 0 20px;
    color: #5e5e5e;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
}
.ywm-guess-price{
color: #e3101e;
    line-height: 16px;
    height: 16px;
    margin: 8px 0 0 20px;
    font-size: 16px;
    font-family: "Arial "\9;
    font-family: Arial,"Microsoft Yahei";
}
.ywm-moneny{
    color: #e3101e;
    line-height: 16px;
    height: 16px;
    margin: 8px 0 0 20px;
    font-size: 16px;
    font-family: "Arial "\9;
    font-family: Arial,"Microsoft Yahei";
}
/*楼层开始*/
.ywm-floorp{
    position: relative;
    min-height: 480px;
}
.ywm-mt{
    height: 38px;
    padding-top: 32px;
}
.ywm-mtTop{
    width: 210px;
    height: 38px;
    overflow: hidden;
    float: left;
    line-height: 38px;
    font-size: 20px;
    font-family: Arial,"Microsoft Yahei";
}
.ywm-h2-text{
    float: left;
    padding-right: 6px;
}
.ywm-mtTop h2{
    font-weight: 500;
    font-size: 100%;
}
.ywm-tab {
    float: right;
    margin-top: 8px;
    max-width: 790px;
    height: 30px;
    overflow: hidden;
    position: relative;
}
.ywm-tab li{
    float: left;
}
.ywm-tab a {
    font-size: 14px;
    color: #5e5e5e;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}
.ywm-tab li.ywm-cur a {
    color: #fff;
}
.ywm-mc {
    height: 470px;
}
.ywm-mc-l {
    height: 470px;
    width: 210px;
    float: left;
    position: relative;
}
.ywm-mc-l-img {
    display: block;
    background: #fff;
}
.ywm-mc-l img {
    margin-left: -10px;
    display: block;
    width: 220px;
    height: 278px;
}
.ywm-key {
    height: auto;
    width: 210px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.ywm-channelbg {
    max-height: 98px;
    width: 220px;
    position: absolute;
    left: -10px;
    bottom: 160px;
    background: #fff;
    overflow: hidden;
}
.ywm-channel-mode {
    width: 210px;
    margin-left: 10px;
    min-height: 32px;
}
.ywm-channel-inner {
    width: 180px;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
}
.ywm-channel-mode li {
    width: 180px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}
.ywm-channel-mode a {
    height: 23px;
    height: 24px\9;
    display: inline-block;
    font-size: 14px;
    color: #f0f0f0;
    float: left;
}
.ywm-channel-mode span {
    display: inline-block;
    font-size: 14px;
    color: #f0f0f0;
    float: left;
    padding: 0 5px;
}
.ywm-keywords{
    height: 160px;
    width: 210px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
.ywm-keywords li {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
}
.ywm-keywords li a {
    display: inline-block;
    color: #f0f0f0;
    height: 20px;
    font-size: 12px;
    font-family: Arial,"Microsoft Yahei";
}
.ywm-w1{
    height: 137px;
    width: 50px;
    float: left;
    overflow: hidden;
    margin: 8px 0 15px 15px;
}
.ywm-w2{
    height: 137px;
    width: 37px;
    float: left;
    overflow: hidden;
    margin: 8px 0 15px 10px;
}
.ywm-w3{
    height: 137px;
    float: left;
    overflow: hidden;
    width: 73px;
    margin: 8px 15px 15px 10px;
}
.ywm-main-warp {
    width: 990px;
    height: 470px;
    float: left;
    position: relative;
    overflow: hidden;
}
.ywm-main {
    width: 990px;
    height: 470px;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    display: none;
}
.ywm-mc-c{
    position: relative;
    height: 470px;
    width: 389px;
    float: left;
    overflow: hidden;
}
.ywm-slider{
    position: relative;
}
.ywm-slider li {
    position: absolute;
    left: 0;
    top: 0;
    height: 470px;
    width: 389px;
    background: #fff;
    display: none;
}
.ywm-nav {
    position: absolute;
    bottom: 121px;
    left: 50%;
    text-align: center;
    margin-left: -40px;
    width: 81px;
    height: 16px;
}
.ywm-nav li {
    width: 18px;
    height: 10px;
    display: inline-block;
    zoom: 1;
    margin-left: 1px;
}
.ywm-nav li a {
    display: block;
    width: 18px;
    height: 4px;
    background: #fff;
    opacity: .6;
    margin-top: 3px;
}
.ywm-main-inner li {
    width: 198px;
    height: 235px;
    float: left;
    overflow: hidden;
}
.ywm-main-inner li a {
    width: 197px;
    height: 234px;
    display: block;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.ywm-main-inner li img {
    display: block;
    width: 130px;
    height: 130px;
    margin: 20px 0 15px 34px;
}
.ywm-main-inner li .ywm-p-name,.ywm-main-inner li .ywm-p-price {
    width: 157px;
    height: 36px;
    margin-left: 20px;
    overflow: hidden;
    line-height: 18px;
    font-size: 12px;
    color: #5e5e5e;
}
.ywm-tab li {
    float: left;
}
.ywm-temp3{
    padding-top: 40px;
}
.ywm-m-l{
    width: 495px;
    overflow: hidden;
    float: left;
    position: relative;
    height: 431px;
}
.ywm-tp-l{
    float: left;
    width: 294px;
}
.ywm-tp-img{
    display: block;
    width: 294px;
    height: 287px;
    padding-top: 30px;
    position: relative;
}
.ywm-tp-img img {
    display: block;
    width: 294px;
    height: 287px;
}
.ywm-gain {
    display: block;
    width: 279px;
    height: 40px;
    padding-right: 15px;
    bottom: 0;
    background: rgba(0,0,0,.5);
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: 0;
}
.ywm-gain span {
    display: inline-block;
    max-width: 56px;
    height: 19px;
    font-size: 14px;
    color: #fff;
    padding: 0 5px;
    line-height: 19px;
    border: 1px solid #fff;
    border-radius: 2px;
    margin: 10px 10px 0 15px;
    float: left;
    overflow: hidden;
    font-family: Arial,"Microsoft Yahei";
}
.ywm-gain b {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: -10px;
    line-height: 40px;
    margin-right: 15px;
    overflow: hidden;
    font-family: Arial,"Microsoft Yahei";
}
.ywm-pindao{
    width: 279px;
    height: 35px;
    line-height: 35px;
    margin-left: 0;
    padding-left: 15px;
    overflow: hidden;
    min-height: 32px;
}
.ywm-pindao li {
    width: 264px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}
.ywm-words{
    width: 294px;
    height: 79px;
}
.ywm-wd{
    width: 279px;
    margin-right: 15px;
    height: 48px;
    padding-top: 17px;
    overflow: hidden;
}
.ywm-wd li {
    float: left;
    padding-left: 15px;
    line-height: 22px;
    height: 22px;
}
.ywm-wd li a {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    height: 17px;
    overflow: hidden;
}
.ywm-tp-r {
    float: left;
    width: 201px;
    height: 401px;
    padding-top: 30px;
}
.ywm-tp-r li {
    float: left;
    width: 201px;
    height: 201px;
}
.ywm-tp-r a {
    display: block;
    width: 200px;
    height: 200px;
    border-bottom: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    position: relative;
    text-align: center;
}
.ywm-tp-r .ywm-center {
    top: 64px;
    z-index: 1;
    width: 201px;
    height: 61px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: 0;
}
.ywm-tp-r span {
    display: inline-block;
    max-width: 128px;
    padding: 0 10px;
    height: 28px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;
    line-height: 28px;
    overflow: hidden;
    font-family: Arial,"Microsoft Yahei";
}
.ywm-tp-r b {
    display: block;
    font-size: 16px;
    color: #fff;
    line-height: 38px;
    width: 166px;
    margin: 0 auto;
    font-family: Arial,"Microsoft Yahei";
}