body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
}
body, button, input, select, textarea {
    font: 12px/1.5 arial,"\65b0\5b8b\4f53";
}
a:hover {
    text-decoration: none;
}
a {
    text-decoration: none;
}
em, i, u {
    font-style: normal;
}