/***********************************************/
.bt-box{
	width: 100%;
	height: 85px;
	background: #0a0a0a;
}
.btmid{
	width: 1015px;
	height: 100%;
	margin: 0 auto;
}
.erwei{
	width: 122px;
	height: 60px;
    float: left;
    margin-top: 13px;
}
.erwei img{
	float: left;
	margin-right: 2px;
}
.wenzi{
	width: 552px;
	height: 100%;
	margin-left: 51px;
    float: left;
}
.wz{
	width: 552px;
	height: 48px;
	margin: 18px auto; 
}
.wz a{
	width: 100%;
	height: 24px;
	font-size: 12px;
	color: #666666;
	line-height: 24px;
}
.tu{
	width:60px;
	height:60px;
    margin-left:54px; 
    margin-top: 17px;
    float: left;
}