.banner-box{
	width: 100%;
	height: 304px;
	background: url(../../images/myimg/bbg.png)no-repeat;
	position: relative;
}
.banner{
	width: 1015px;
	height: 304px;
	margin: 0 auto;
	position: relative;
}
/****************************************/
.mid-box{
	width: 1015px;
	height: 787px;
	margin: 0 auto;
	margin-top: 12px;
}
.leftbox{
	width: 226px;
	height: 527px;
	background: url(../../images/myimg/sub.png);
	margin-right: 24px;
	float: left;
	position: relative;
}
.jieshao{
    width: 100%;
    height:97px;
    position: absolute;
    left: 0;
    top:86px;
}
.ppjs{
	width: 100%;
	height: 43px;
	font-size:12px; 
	color:#8e8b8a;
	text-align: center;
	line-height: 43px;
	background: url(../../images/myimg/ub.png)no-repeat 0 34px;
}
.ppjs:hover{
	width: 232px;
	background: url(../../images/myimg/sub_hover.png)no-repeat;
	font-size: 18px;
	color: black;
}

.rightbox{
	width: 765px;
	height: 787px;
	float: left;
	background: url(../../images/myimg/right_bg.png)repeat-Y;
}
.title{
	width: 765px;
	height: 39px;
	margin-top: 12px;
	background: url(../../images/myimg/title.png)no-repeat;
}
.title a{
	font-size: 12px;
	color: white;
	margin-left: 19px;
	line-height: 39px;
	text-decoration: none;
	float: left;
}
.title a span{
	font-size: 10px;
	color: #7d7d7d;
	line-height: 39px;
	margin-left: 5px;
	margin-right: 500px;
}
.sp{
	font-size: 12px;
	color: white;
	/* margin-right: 23px; */
	float: left;
}
.title .sp span{
	margin-right: 7px;
	margin-left: 7px;
	color: white;
	font-size: 12px;
}
/*News*/
.News_list{ 
	padding:25px;
}
.News_list li{ 
	line-height:28px;
	font-size: 12px;
}
.News_list li span{
   float:left; 
   background:url(../../images/myimg/jt.png) no-repeat left center;
   padding-left:15px;
   clear:both;
}
.News_list li span a{
   color:#787777; 
}
.News_list li em{ 
	float:right; 
	color:#787777;
	font-style: normal;
}
/*ç‰ˆæƒ*/
.bt-box{
	width: 100%;
	height: 85px;
	background: #0a0a0a;
}
.btmid{
	width: 1015px;
	height: 100%;
	margin: 0 auto;
}
.erwei{
	width: 122px;
	height: 60px;
    float: left;
    margin-top: 13px;
}
.erwei img{
	float: left;
	margin-right: 2px;
}
.wenzi{
	width: 552px;
	height: 100%;
	margin-left: 51px;
    float: left;
}
.wz{
	width: 552px;
	height: 48px;
	margin: 18px auto; 
}
.wz a{
	width: 100%;
	height: 24px;
	font-size: 12px;
	color: #666666;
	line-height: 24px;
}
.tu{
	width:60px;
	height:60px;
    margin-left:54px; 
    margin-top: 17px;
    float: left;
}
.img-box{
	width:713px; 
	height:642px;
	border-bottom: 1px solid #b7b7b7;
	margin: 0 auto;
	margin-top: 24px;
}
.boximg{
	width: 713px;
	height: 204px;
}
.list-box{
	width: 207px;
	height: 204px;
	margin-left: 23px;
	text-align: center;
	float: left;
}
.list-box img{
	width:205px;
	height: 145px;
	border: 1px solid #d8d8d8; 
}
.list-box span{
	display: block;
	font-size: 8px;
	color: #969696;
	margin-top: 17px;
}
.ys{
	width: auto;
	height: 12px;
    margin-left:254px;
    margin-top:12px;
    font-size: 12px;
    color: #6d6d6d;
}
.Products_list li {
    width: 207px;
    float: left;
    padding-left: 23px;
}
.Products_list li img {
    width: 205px;
    height: 145px;
    border: 1px solid #d8d8d8;
}
.Products_list li p {
    text-align: center;
    padding: 11px 0 27px 0;
}
.Products_list li p a {
    color: #838383;
}
.page {
    margin-top: 30px;
    padding-top: 11px;
    padding-bottom: 20px;
    text-align: center;
    border-top: 1px solid #b7b7b7;
}
.page a {
    margin: 0 5px;
    color: #6d6d6d;
    font-size: 12px;
}
.Products_list {
    padding: 24px;
}
.clear {
    clear: both;
}
#body_right {
    width: 765px;
    float: right;
    background: url(../../images/myimg/right_bg.png);
}