<!--版权-->
<link rel="stylesheet" href="{CSS_PATH}mycss/footer.css">
<div class="bt-box">
		<div class="btmid">
			<div class="erwei">
				<img src="{IMG_PATH}myimg/eww1.jpg" alt="">
				<img src="{IMG_PATH}myimg/eww.jpg" alt="" style="margin-right:0">
			</div>
			<div class="wenzi">
				<div class="wz">
					<sapn>
						<a  href="{siteurl($siteid)}">首页</a>
						<a>|</a>
						{pc:content action="category" catid="0" num="6" }
						{loop $data $v}
						<a href="{$v[url]}">{$v[catname]}</a>
						<a  href="javascript:;">|</a>
						{/loop}
						{/pc}
					</sapn>
					<br><a href="">
						<span style="margin-right:8px">版权所有:广州欢腾鞋业有限公司</span>
						<span style="margin-right:7px">备案号:晋ICP备*****号</span>
						<span style="margin-right:17px">手机:18734563166</span>
						<span>固话:400-6505-778</span>
					</a>
				</div>
			</div>
			<div class="tu">
				<img src="{IMG_PATH}myimg/logo2.png" alt="">
			</div>
		</div>
	</div>
</body>
<script src="{JS_PATH}myjs/jquery.1.12.3.js"></script>
<script src="{JS_PATH}myjs/indexs.js"></script>
</html>
<!-- 
				{pc:content action="lists" catid="17" moreinfo="1"}
				{loop $data $s}
					<br><a href="">
						<span style="margin-right:8px">版权所有:{$s[copyright]}</span>
						<span style="margin-right:7px">备案号:{$s[beian]}</span>
						<span style="margin-right:17px">手机:{$s[phone]}</span>
						<span>固话:{$s[tel]}</span>
					</a>
					{/loop}
				{/pc} -->