html,body{width: 100%;
	height: 100%;
}

body{
	color: #333;
	font-family: "宋体",'微软雅黑', Arial;
	font-size: 12px;
	margin:0 auto;
}
.max{
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}
.fixed:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.fixed{display: block;min-height: 1%}
* html.fixed{height: 1%}
*{margin:0;padding: 0}
ul,li{list-style: none;}
a{text-decoration: none;color: #333}
a:hover{text-decoration: none;color:#1983d5;}

.header{
	width: 100%;height: 102px;margin:0 auto;
	position: fixed;top: 0;left: 0;
	background: url(../../images/drlimg/headerbg.png)no-repeat center;
	z-index: 20000000;
	background-co lor: #fff;
}
.header_info{
	width: 980px;height: 102px;
	margin:0 auto;
}
.logo{
	width: 212px;height: 70px;
	float: left;margin-top: 30px;
}
.logo a{
	width: 212px;height: 70px;
	display: block;
}
.menu{float: left;
}
.search{padding: 24px 0 0 50px;
	text-align: right;
	width: 692px;
	/*border:2px solid red;*/
}

.language{
	color: #666;float: right;
	font: 10px Arial;
	padding: 3px 5px 0;
}
.search input{
	border: medium none; /*去除边框样式*/
	float: right;
	height: 19px;
	line-height: 19px;
	margin: 0;padding: 0
}
.submit{
	width: 24px;
	cursor: pointer;
	background: url(../../images/drlimg/submit.gif) center no-repeat;
}
.submit:hover { background:url(../../images/drlimg/submit1.gif) center no-repeat; }
.search1{
	width:167px; 
	background:url(../../images/drlimg/search1bg.gif) center no-repeat; 
	text-indent:1em; color:#ccc;
}
.search2{
	width:250px; 
	background:url(../../images/drlimg/search2bg.gif) center no-repeat; 
	text-indent:1em; color:#333;
	outline: none;
	
}
.nav{
	display: block;
	height: 39px;
	clear: both;
	margin-left: 39px;
	margin-top: 15px;
	z-index: 9999
}
.nav li{
	width:auto;
	height: 30px;
	position: relative;
	float: left;
}
.nav li a {  
	width:auto;
	height:30px;
	line-height:30px;
	padding:0 10px 0 0;
	font-size:12px;
	display:block;  }
.nav_on span{margin-right:8px;}
.nav li.nav_1 a { width:80px; background-position:0px 0px; }


#nav .nav_sub { width:117px; height: auto;
	background-color:#fff; 
	position:absolute; 
	/*padding-top:6px; */
	/*padding-bottom:15px; */
	left:-9px; top:29px; 
	-moz-box-shadow: 2px 2px 2px #666666; 
	box-shadow: 2px 2px 2px #666666; 
	/*overflow: hidden;*/
	display: none;

}
..nav_sub{height:30px;width:auto; line-height:30px;}
.nav_sub li { height:30px; line-height:30px; 
	background:none; 
	width:auto;
	padding-left:0px; 
	float:none; 
	/*display:none;*/

}
#nav .nav_sub li a { width:97px; height:30px; 
	line-height:30px; color:#666; 
	font-weight:normal; text-decora tion:none; 
	background:none; 
	padding-top:0px; padding:0px 10px; 
	font-size:12px; text-align:center;
	 border-top:1px solid #eaebec; 
	}
#nav .nav_sub li a:hover { color:#fff; background-color:#f06a2e; }
#nav li.nav_3 .nav_sub,#nav li.nav_3 .nav_sub li a{ width:142px;  }



.banner_box{width: 1436px;height:531px;background: #EEF3F8;margin:0 auto;position: relative;}



.bannertitle{
	width: 1436px;
	height: 436px;
	padding-top: 93px;
	/*border: 1px solid red;*/
	margin:0 auto;
	position: relative;
	overflow: hidden;
	position: absolute;

}
.bannertitle a{
	/*float: left;*/
	width: 1436px;
	height: 100%；
	left:0;
	position: absolute;

}
.bannertitle img{
	width: 1436px;
	height: 436px;
}
.banner_btn{
	/*border: 1px solid red;*/
	height: 10px;
	width: auto;
	margin:0 auto;
	position: absolute;
	bottom: 10px;
	left: 950px;
	z-index: 999999;
}
.banner_btn li{
	width: 30px;
	height: 10px;
	background: #AAAAAA;
	float: left;
	margin:0 15px;
	cursor: pointer;
	
}
/*.hoot{background:#F06F31}*/
.banner_btn li:hover{background:#F06F31 }
.banner_btn .banner_hot{background:#F06F31;}

/*content*/
.content{width: 100%;background: #fff;}
.con_top{width: 965px;
		margin: 0 auto;
		padding-top: 22px;
	}
.slideTxtBox{
	width: 643px;height: 242px;
	float: left;
	text-align: left;
	overflow: hidden;
}
.slideTxtBox .hb{
	height: 34px;line-height: 34px;
	background: url(../../images/drlimg/titbg.gif)no-repeat center;
	position: relative;
}
.slideTxtBox .hb ul{
	height: 34px;
	position: absolute;
	left: 20px;
	float: left;
}
.slideTxtBox .hb ul li{
	height: 34px;
	font-family: '微软雅黑';
	font-size:14px;
	text-align: center;
	float: left;
	cursor: pointer;
	padding: 0 10px;
}
.slideTxtBox .hb ul li:hover{
	color: #1983d5;background: #fff;
	border-left: 1px solid #c5c5c5;
	border-right: 2px solid #c5c5c5;
	border-top: 2px solid #1983d5;
	height: 32px;
}
.on{
	color: #1983d5;background: #fff;
	border-left: 1px solid #c5c5c5;
	border-right: 2px solid #c5c5c5;
	border-top: 2px solid #1983d5;
	height: 32px;
}
.slideTxtBox .hb a{
	font:10px Arial,Helvetica,sans-serif;
	line-height: 34px;
	float: right;
}
.slideTxtBox .bd ul{
	padding: 8px 10px 10px 10px ;
	height: 190px;
	overflow: hidden;
	zoom:1;
	display: none;
}
.slideTxtBox .bd li{
	height: 30px;line-height: 30px;
	border-bottom: 1px dashed #e5e5e5;
}
.slideTxtBox .bd li:hover{ }
.slideTxtBox .bd li a{
	color: #333;
	display: block;
	height: 30px;
}
.slideTxtBox .bd li a:hover{
	background: #fafafa;color: #f06a2e;
}
.slideTxtBox .bd li .date{float:right;}

/*右边新闻*/
.newsBanner{
	width: 297px;padding-left: 16px;
	float: left;
}
.newsBannerTit{
	height:34px;width: 297px;
	line-height: 34px;
	margin-bottom: 16px;
	background: url(../../images/drlimg/titbg.gif)no-repeat right;
}
.newsBannerTit a{
	float:right; 
	font-family:Arial, Helvetica, sans-serif;
	 font-size:10px;
}
.tit1{
	width: 68px;height: 34px;
	display: block;
	float: left;
	background: url(../../images/drlimg/indextit.gif)no-repeat 0px -34px;
}
.mF_YSlider_wrap { float:left;
	position: relative;
	 }
.mF_YSlider_myFocus{
	width: 269px;height: 178px;
	/*border:1px solid blue;*/
	text-align: left;
	position:relative;
	overflow: hidden;
	font:12px/1.5 Verdana;
	/*visibility: visible !important;*/
}
.pic{
	 display: block;
	 height: 100%;
    /*overflow: hidden;*/
    position: absolute;
    /*width: 297px;*/
    width: 1345px;
}

.pic a{
	float: left;
	width:200px;height:30px;
	background:#000;
	opacity:0.6;
	position: absolute;
	bottom:0;

}

.pic p{
	position: absolute;
	font-size: 12px;
	padding-left: 10px;
	color:#fff;
	float: left;
	bottom:0px;
	line-height: 30px;
}
.pic img{
	width:269px;
	height: 178px;
	background-size: contain;
	float: left;
}
.btnxia{
   /* background: #000;
    opacity:0.4;*/
    position: absolute;
    bottom: 0px;
    width: 297px;
    height: 27px;
}
.num{
	position: absolute;
	bottom: 4px;
	right: 2px;
	z-index: 3;
}
.num li{
	width: 20px;height: 20px;
	text-align: center;
	margin-right: 4px;
	cursor: pointer;
	position: relative;
	float: left;
	overflow: hidden;
}
.num li a{
	display: block;
	width: 18px;height: 18px;
	border:1px solid #dedede;
	line-height: 18px;
	position: absolute;
	z-index: 2;
	top: 0;left:0;
	color: #333;
	float:right;
	text-decoration: none;
}
.num li b{
	z-index: 1;
	background: #fff;
	opacity: 0.6;
	display: block;
	width: 18px;height: 18px;
	border:1px solid #dedede;
	line-height: 18px;
	position: absolute;
	top: 0;left:0;
	color: #333;
	text-decoration: none;
}

.current a{ 
	border-color:  #e63003;
	background:#f66e08; 
	color: #fff
}
.currenthot a{border-color:  #e63003;
	background:#f66e08; 
	color: #fff}

.num li a:hover{
	border-color: #e63003;
	color: #fff;
	background: #f66e08;
	-wekit-transition:all 0.4s;
}
.txt{
	width: 297px;
}
.txt li{
	position: absolute;
	z-index: 2;
	bottom: 0;
	width: 100%;
}
.txt li a{
	display: block;
	position: relative;
	z-index: 1;
	color: #fff;
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	width:297px;
}
.txt li b{
	position: absolute;
	display: block;
	/*width: 297px;
	height: 27px;*/
	width: 100%;height: 100%;
	top: 0px;
	left: 0;
	background: #000;
	opacity: 0.6;
}
/*<!-- 理念 -->*/
.con_con{
	width: 965px;
	margin:0 auto;
	padding: 15px 0px;
	clear:both;
}
.con_con ul li{float: left;}
.con_con ul li a{
	width: 317px;height: 66px;
	display: block;
}
.con_conPic1{
	margin-right: 6px;
	background: url(../../images/drlimg/con_conPic1.gif)no-repeat top;
}
.con_conPic1:hover{background-position: bottom;}
.con_conPic2{
	margin-right: 6px;
	background: url(../../images/drlimg/con_conPic2.gif)no-repeat top;
}
.con_conPic2:hover{background-position: bottom;}

.con_conPic3{
	/*margin-right: 6px;*/
	background: url(../../images/drlimg/con_conPic3.gif)no-repeat top;
}
.con_conPic3:hover{background-position: bottom;}

/*重点方向*/
.con_bom{clear: both;
	width: 965px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.con_bomleft{float: left;}
.con_bomTit{
	width: 320px;height: 34px;
	margin-bottom: 12px;
	background: url(../../images/drlimg/titBg.gif)right no-repeat;
}
.tit2{
	display: block;
	height: 34px;
	text-align: right;
	background: url(../../images/drlimg/indexTit.gif)no-repeat 0px 0px;
}
.sideMenu{width: 320px;position: relative;overflow: hidden;}
.fixed{min-height: 1%}
.fixed{display: block;}

.sideMenu h3{
	/*position: absolute;*/
	height: 180px;width: 32px;
	float: left;
	color: #333;
	cursor: pointer;
	background: url(../../images/drlimg/slideMenu2.gif)no-repeat center;
}
.sideMenu h3 p{
	width: 13px;
	margin:0 auto;
	font:normal 12px/15px "微软雅黑","宋体",Arial;
	padding-top: 15px;
}
.sideMenu h3.hoot{
	background: url(../../images/drlimg/slideMenu1.gif)no-repeat center;
	color: #fff;
}
.sideMenu h3.hoot a{color: #fff}
.sideMenu ul{
	color: #999;
	float: left;
	width: 217px;
	height: 178px;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	background: url(../../images/drlimg/sideMenusj.gif) center left no-repeat #fafafa;
	display:none;

}
.sideMenu ul li div{
	width: 184px;
	margin: 20px auto 0px;
	line-height: 24px;
	color: #333;
}

/*youbian */
.con_bomright{
	width: 645px;float: left;
}
.con_bomright ul li{
	width: 185px;height: 230px;
	overflow: hidden;
	float: left;
	padding:0px 12px;
}
.con_bomright ul li p{
	width: 185px;height: 18px;
	margin-top: 16px;
	text-indent: 1em;
	font:12px "微软雅黑", '宋体', Arial;
	color: #1983d5
}
.ttit1{
	background: url(../../images/drlimg/tit1.gif)left bottom no-repeat;
}
.ttit2 { background:url(../../images/drlimg/tit2.gif) left bottom no-repeat; }
.ttit3 { background:url(../../images/drlimg/tit3.gif) left bottom no-repeat; }
.ttit1:hover{background-position:top left;}
.ttit2:hover{background-position:top left;}
.ttit3:hover{background-position:top left;}
.sfqMenu{
	margin-top: 12px;
	border:1px solid #ddd;
}
.sfqMenuImg{
	display: none;
 	width: 183px;height: 101px
}
.sfqMenuImg img{
	width: 185px;height: 101px;
}
.sfqMenuImg img a{width: 185px;height: 12px}
.sfqMenu h3{
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	border-top: 1px solid #e3e3e3;
	background:#f4f4f4;
	font-size: 12px;
	font-weight: normal;
	cursor: pointer;
}


/*尾部*/
.footer{
	clear: both;
	padding-top: 30px;
}
.footer_top{
	width: 100%;height: 48px;
	margin: 0 auto;
	background:#f3f3f3;
}
.footer_topInfo{
	width: 980px;height: 48px;
	/*line-height: 48px;*/
	margin:0 auto;
}
.foot_sel{padding-top: 14px}
.foot_selLi{padding-right: 10px;float: left;}


/*QQ*/


.shareCount{
	width: 37px;height: 16px;
	font-size: 12px;
	line-height: 16px;
	margin-top: 5px;
	overflow: hidden;
	background-position:0 -30px !important;
}
.bds_tools a.shareCount{
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
	padding-left: 5px;
	color: #454545;
	font-family: '宋体';
	background: url(../../images/drlimg/sc.png?cdnversion=20120720)no-repeat 0 -30px !important;
}

/*底下*/
.footer_bom{
	height: 80px;
	background: url(../../images/drlimg/footerBg.gif)no-repeat center;
}
.footer_bomInfo{
	width: 980px;
	margin:0 auto;
	padding-top: 20px;
	position: relative;
}
.footer_bomInfo p{
	color: #fff;
	text-align: center;
	line-height: 24px;
}
.footer_bomInfo p a{color: #fff}
.footerimg{
	width: 87px;height: 87px;
	position: absolute;
	left: 328px;top: -50px;
	display: none;
}

/*TOP*/
.TOP{
	width: 30px;height: 31px;
	padding: 5px 0;
	color: #fff;
	font-size: 12px;
	text-align: center;
	position: fixed;
	left: 50%;
	margin-left: 500px;
	bottom: 160px;
	cursor: pointer;
	background: url(../../images/drlimg/top.gif)no-repeat top center;
	/*display: none;*/
	/*opacity: 0;*/
}



