

/************************************************/

/*num2*/
.web_conTop{
	width: 100%;height: 203px;
	margin:0 auto;
	background: url(../../images/drlimg/web_conTop.jpg)no-repeat center top;
}
.contop_Info{
	width: 980px;
	margin:0 auto;
	padding-top: 160px;
}
.fixed{min-height: 1%}
.webcon_tit{
	font: bold 24px/30px '微软雅黑';
	color: #1983d5;
	float: left;
	padding-left: 22px;
}
.webcon_nav{
	float: right;
	display: inline;
	padding-top: 16px;
}
.webcon_nav span{
	color: #009ee4;
	text-indent: 1em;
	height: 12px;
	display: block;
	float: left;
	background: url(../../images/drlimg/dwbz.png)left bottom no-repeat;
}
/*num3*/
.web_conBom{
	margin: 0 auto;
	min-height: 550px;
	background: url(../../images/drlimg/web_conbom.jpg)no-repeat top #fff;
}
.conbom_info{
	width: 980px;
	margin:0 auto;
}
.webbom_menu{
	width: 214px;
	float: left;
	background: #fff;
	box-shadow: 0px 0px 7px #e4e5e5;  /*阴影*/
	margin: 0 auto;
	border:1px solid #e4e5e5;
}
.webbom_menu ul{
	width: 180px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 23px;
}
.webbom_menu ul li{
	line-height: 29px;
	border-bottom: 1px dashed #dadada;
}
.webbom_menu ul li a{
	display: block;
	width: 180px;height: 29px;
}
.webbom_menu ul li a:hover{
	background: url(../../images/drlimg/conmenuOn.gif)no-repeat center;
	color: #fff;
}
.webbom_menuOn{
	background: url(../../images/drlimg/conmenuOn.gif)no-repeat center;
	color: #fff;
}
.bom_submenu{
	text-indent: 3em;
	padding: 0px;
}
.webbom_menu ul li .bom_submenu li{border: none;}
.webbom_menu ul li .bom_submenu li a{border: none;background: none}
.webbom_menu ul li .bom_submenu li a:hover{color: #1983d5}
.webbom_text{
	width: 740px;
	box-shadow: 0px 0px 7px #e4e5e5;
	border:1px solid #e4e5e5;
	float: left;
	margin-left: 20px;
	background: #fff;
	min-height: 500px;
}
/*num4*/
.bomtext_top{
	width: 672px;
	margin:0 auto;
	/*border-bottom: 1px dashed #dadada;*/
	
}
.content_detail{
	width: 700px;
	padding: 30px 20px 0 20px;
}
.bomtext_top p{
	font:18px/24px '微软雅黑' ;
	color: #1983d5;
	padding: 20px 0px 10px 0px;
	border-bottom: 1px solid #dadada;

}

.bomtext_tit{
	width: 672px;
	margin: 0 auto;
	text-align: center;
}
.bomtext_tit img{
	padding: 20px 0px
}


.f14{
	width: 672px;
	margin:30px auto;
	color: #009EE4;
	/*font-weight: bold;*/
	line-height: 20px
}

/*num5*/
.jtywList{
	width: 672px;
	margin: 0 auto;
}
.jtywList ul{padding: 20px 0px 20px 0px;}
.jtywList ul li{
	border-bottom: 1px dashed #e5e5e5;
}
.jtywList ul li a{
	line-height: 40px;
	display: block;
}
.jtywList ul li a:hover{
	color: #009ee4;
	background: #fafafa;
}
.jtywList ul li a span{float: right;}





.paged{
	padding: 20px;
	text-align: center;
	clear: both;
}
#info{width: auto}
#setpage .noww{
	background: #999;
	border:1px solid #cadcdc;
	margin: 1px;
	color: #fff
}


#setpage a:link, #setpage a:visited, #setpage a:hover, #setpage .noww, #info, #setpage .current1 {
    border: 1px solid #cadcdc;
    display: inline-block;
    margin: 1px 2px;
    text-decoration: none;
    font-size: 12px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    color: #666666;
    padding: 4px 6px;
    font-family: Arial, Helvetica, sans-serif;
}

#goto{
	border: 1px solid #cadcdc;
	width: 28px;
	height: 18px;
	line-height: 18px;
	padding: 2px;
}



#setpage a.current1{
	border: 1px solid #ddd;
	background: #f8f8f8;
	margin: 1px 2px;color: #aaa;
}
#setpage a:hover{
	background: #999;
	border:1px solid #cadcdc;
	/*margin: 1px;*/
	color: #fff
}
#setpage .current{
	border: 1px solid #83e7e4;
	background: #dff9f8;
	margin: 1px;
	color: #27cbc7;
}

